// Colors
$tan: #EDDECB;
$lightTan: #f8f3ec;
$superDarkGreen: #0D2B21;
$darkGreen: #255045;
$lightGreen: #61897F;
$brown: #433B24;
$lightOrange: #E58A66;
$salmon: #ec8078;
$lightSalmon: #DA6D54;
$darkSalmon: #B34C3E;

body,
html {
  margin: 0;
  padding: 0;
  background-color: blue;
}

